<!-- Page Wrapper -->
<div class="notfound-wrapper">
    <h1 class="notfound-ttl">{{errorCode}}</h1>
    <p class="notfound-tag-1">{{error}}</p>
    <span class="notfound-tag-2">{{extraMessage}}</span>
    <div class="notfound-link">
        <a href="/" class="btn btn-primary"><i class="fa fa-home"></i><span>&nbsp;&nbsp;Go to Home</span></a>
    </div>
</div>